<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/users.css">
    <script src="/admin.js"></script>
    <title>Add Product</title>
</head>
<body>
    <header class="main">
        <nav>
            <ul>
                <li><a href="/views/admin.html">Admin</a></li>
                <li><a href="/views/shop.html">Shop</a></li>
            </ul>
        </nav>
    </header>
    <form action="/admin/users" method="POST">
    <input type="text" name="title"/>
    <button onclick="submit()">submit</button>
    </form>
    <button onclick="submit()">submit</button>

</body>
</html>