<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/routes/admin.js">Admin</a></li>
                <li><a href="/routes/shop.js">Shop</a></li>
            </ul>
        </nav>
    </header>
   <h2>Welcome to my node js page</h2>
</body>
</html>